<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gaming">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".creategopi"></activity>
        <activity
            android:name=".gopicreate"
            android:label="@string/title_activity_gopicreate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wallet"
            android:label="@string/title_activity_wallet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home_Bottom"
            android:label="@string/title_activity_home__bottom" />
        <activity android:name=".OTP_VERi" />
        <activity android:name=".Create" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>